.box {
  margin-bottom: 30px;
  box-shadow: 0px 4px 3px #dee2e6;
}

.image-box {
  padding: 0;
}

.image {
  width: 100%;
  height: auto;
}

.text-box {
  border-right: 1px solid #dee2e6;
}

.post-title,
.post-body,
.check-user {
  margin-bottom: 0;
}

.post-body {
  font-size: 14px;
  margin-top: 10px;
}

.post-history {
  font-size: 12px;
}

.profile-image {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  border: 1px solid;
}

.check-user {
  font-size: 12px;
}
.location {
  font-size: 10px;
}

.page-pagination {
  color: grey;
}
